<!DOCTYPE html>
<html lang="en">
  <head>
    <title class="text-glow">Digits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="text-glow" style="padding-bottom: 20px;">Welcome to Digits</h1>
      <form method="POST" action="">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.difficulty.label }} {{ form.difficulty }}
        </div>
        <div class="form-group">
          {{ form.num_digits.label }} {{ form.num_digits }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Play</button>
        </div>
      </form>
    </div>
  </body>
</html>
