<!DOCTYPE html>
<html lang="en">
  <head>
    <title class="text-glow">Digits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="text-glow" style="padding-bottom: 20px;">Welcome to Digits</h1>
      <form method="POST" action="" id="digits-form">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.easy_btn }}
          {{ form.medium_btn }}
          {{ form.hard_btn }}
        </div>
        <div class="form-group">
          {{ form.three_btn }}
          {{ form.four_btn }}
          {{ form.five_btn }}
          {{ form.six_btn }}
        </div>
        <div class="form-group">
          {{ form.play_btn(class="btn") }}
        </div>
      </form>
      <script>
        const diff_buttons = document.querySelectorAll('.boolean-button.difficulty');
        console.log(diff_buttons)
        diff_buttons.forEach((button) => {
          button.addEventListener('click', function() {
            // Remove 'clicked' class from all other buttons
            diff_buttons.forEach((otherButton) => {
              if (otherButton !== button) {
                otherButton.classList.remove('clicked');
                otherButton.previousElementSibling.value = 0;
                otherButton.value = 0;
              }
            });
            // Toggle 'clicked' class for the clicked button
            this.classList.toggle('clicked');
            this.previousElementSibling.value = 1;
            this.value = 1;
          });
        });
        const num_digits_buttons = document.querySelectorAll('.boolean-button.num-digits');
        num_digits_buttons.forEach((button) => {
          button.addEventListener('click', function() {
            // Remove 'clicked' class from all other buttons
            num_digits_buttons.forEach((otherButton) => {
              if (otherButton !== button) {
                otherButton.classList.remove('clicked');
                otherButton.previousElementSibling.value = 0;
                otherButton.value = 0;
              }
            });
            // Toggle 'clicked' class for the clicked button
            this.classList.toggle('clicked');
            this.previousElementSibling.value = 1;
            this.value = 1;
          });
        });
      </script>
    </div>
  </body>
</html>
