<!DOCTYPE html>
<html lang="en">
  <head>
    <title class="text-glow">Your Guess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <h3 class="text-glow">Clues</h3>
    <div class="text-glow">
      <ol style="list-style-type: none; font-size: 1.89vw; margin-left: -2vw;">
        {% for clue_type, clue_list in clues.items() %}
            <li style="margin-top: 2vw;">{{ clue_type }}</li>
            <ul>
                {% for clue in clue_list %}
                    <li style="margin-left: -2vw;">{{ clue }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
      </ol>
    </div>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="digit-field">
            {% for i in range(form.num_digits) %}
                {{ form['digit_' + (i+1)|string](pattern="[0-9]*", inputmode="numeric") }}
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit_guess(class="btn guess") }}
        </div>
    </form>
    <form method="POST">
      {{ form.crsf_token }}
        <div class="form-group">
            {{ buttons.submit_play_again(class="btn guess") }}
            {{ buttons.submit_reveal(class="btn guess") }}
        </div>
    </form>
    {% if guess %}
      <p class="text-glow" style="font-size: 4vw;">You guessed <strong>{{ guess }}</strong>.</p>
      {% if guess == number %}
        <p class="text-glow" style="font-size: 5vw;"><strong>Congratulations! You got it!<strong></p>
      {% else %}
        <p class="text-glow" style="font-size: 4vw;">Sorry, that's not correct.</p>
      {% endif %}
    {% endif %}
    <script>
      const numericInputs = document.querySelectorAll('.digit-field input');
      numericInputs.forEach((input, index) => {
        input.addEventListener('input', () => {
          if (input.value.length === 1 && index < numericInputs.length - 1) {
            numericInputs[index + 1].focus();
          }
        });

        input.addEventListener('keydown', (event) => {
          if (event.key === "Backspace" || event.key === "Delete") {
            if (input.value === "") {
              if (index > 0) {
                numericInputs[index - 1].value = "";
                numericInputs[index - 1].focus();
              }
            } else {
              input.value = "";
            }
          }
        });
      });
    </script>
  </body>
</html>
