<!DOCTYPE html>
<html lang="en">
  <head>
    <title class="text-glow">Your Guess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <h3 class="text-glow">Clues</h3>
    <div class="text-glow">
      <ol style="list-style-type: none; font-size: 4vw; margin-left: 2vw;">
        {% for clue_type, clue_list in clues.items() %}
            <li>{{ clue_type }}</li>
            <ul>
                {% for clue in clue_list %}
                    <li>{{ clue }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
      </ol>
    </div>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="digit-field">
            {% for i in range(form.num_digits) %}
                {{ form['digit_' + (i+1)|string] }}
            {% endfor %}
        </div>
        <div class="form-group">
            <button type="submit" name="submit_guess" class="btn guess">Guess</button>
        </div>
    </form>
    <form method="POST">
      {{ form.crsf_token }}
        <div class="form-group">
            {{ buttons.submit_play_again(class="btn guess") }}
            {{ buttons.submit_reveal(class="btn guess") }}
        </div>
    </form>
    {% if guess %}
      <p class="text-glow" style="font-size: 4vw;">You guessed <strong>{{ guess }}</strong>.</p>
      {% if guess == number %}
        <p class="text-glow" style="font-size: 5vw;"><strong>Congratulations! You got it!<strong></p>
      {% else %}
        <p class="text-glow" style="font-size: 4vw;">Sorry, that's not correct.</p>
      {% endif %}
    {% endif %}
  </body>
</html>
