body {
  background: conic-gradient(from 90deg at 0 0, #262626, #610259);
  color: rgb(2, 199, 2);
  font-family: 'VT323', monospace;
  font-size: 18px;
  line-height: 1.5;
  margin: 10px;
  padding: 0;
  text-shadow: 0 0 1px rgb(97, 96, 96), 0 0 3px rgb(104, 103, 103), 0 0 3px rgb(90, 88, 88), 0 0 5px rgba(2, 255, 116, 0.527);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-left: 10px;
  padding: 0;
  width: 500px;
  text-align: center;
}

.container {
  background: transparent;
  margin: 0 auto;
  max-width: 0 auto;
}

.header {
  background: conic-gradient(from 90deg at 0 0, #262626, #610259);
  color: #000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
}

.form-group {
  margin-left: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.form-group label {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 10px;
}

.form-group input[type="number"]{
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #0f0;
  font-size: 18px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 3px;
  width: 2ch;
  height: 24px;
  text-shadow: 0 0 5px #0f0;
}

.form-group .input[type="number"]:hover {
  background-color: rgba(0, 255, 0, 0.3);
}

.digit-field {
  margin-left: 10px;
  width: 500px;
}

.digit-field input[type="number"]{
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  border: solid whitesmoke;
  border-radius: 5px;
  color: #0f0;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  margin-right: 2px;
  width: 2ch;
  height: 50px;
  text-shadow: 0 0 5px #0f0;
  margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-group input[type="submit"],
.form-group button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  color: #0f0;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  opacity: 0.8;
  margin-right: 10px;
  text-shadow: 0 0 5px #0f0;
  transition: background-color 0.3s ease;
  text-align: center;
}

.btn {
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  margin-right: 10px;
  height: 70px;
  width: 150px;
  opacity: 0.8;
  padding: 0;
}

.btn.play {
  height: 70px;
  width: 500px;
}

.boolean-button {
  border-radius: 5px;
  height: 70px;
  color: #000;
  cursor: pointer;
  opacity: 0.8;
}

.boolean-button.clicked {
  background-color: rgba(0, 255, 0, 0.5); /* Change the background color when clicked */
  border-color: solid rgba(255, 255, 255, 0.5);
  color: rgba(209, 255, 208); /* Change the text color when clicked */
}

.boolean-button.difficulty {
  width: 160px;
}

.boolean-button.num-digits {
  font-size: 24px;
  width: 117.5px;
}

.boolean-button:hover,
input[type="submit"]:hover {
  background-color: rgba(0, 255, 0, 0.3);
}

.btn:hover,
input[type="submit"]:hover {
  background-color: rgba(0, 255, 0, 0.3);
}

.text-glow {
  text-shadow: 0 0 1px rgb(97, 96, 96), 0 0 3px rgb(104, 103, 103), 0 0 3px rgb(90, 88, 88), 0 0 5px rgba(2, 255, 116, 0.527);
}
